table {
  width: 750px;
  border-collapse: collapse;
  /* margin: 50px auto; */
  z-index: -1;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #3F51B5;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 5px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 15px;
}

i.edit {
  color: #d9cd26;
}

i.delete {
  color: #e35e6b;
}
