<div style="overflow-x: auto;">
  <table>
    <tr>
      <th>Id</th>
      <th>Product</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    <tbody *ngFor="let prod of productcs">
      <tr>
        <td>{{ prod.id }}</td>
        <td>{{ prod.name }}</td>
        <td>{{ prod.price | currency: "BRL" }}</td>
        <td>
          <a routerLink="/products/update/{{ prod.id }}">
            <i class="material-icons edit">
              edit
            </i> </a
          ><a routerLink="/products/delete/{{ prod.id }}">
            <i class="material-icons delete">
              delete
            </i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
