<mat-toolbar class="header mat-elevation-z4">
  <span>
    <a routerLink="/">
      <img class="logo" src="assets/img/logo-200506-094136.png" alt="logo" />
    </a>
  </span>
  <div class="title-group">
    <a routerLink="{{ routeUrl }}">
      <i class="material-icons">
        {{ icon }}
      </i>
      {{ tittle }}
    </a>
  </div>
</mat-toolbar>
