<mat-toolbar class="footer">
  <span>
    Desenvolvido com
    <i class="material-icons v-middle" appRed>
      favorite
    </i>
    por <strong>Cod<span class="red">3</span>r</strong>
  </span>
  <ul>
    <!-- <li *appFor="let n em [1,2,3] usando 'texto'"></li> -->
  </ul>
</mat-toolbar>
