<mat-card>
    <mat-card-title>Excluir produto</mat-card-title>
    <form>
      <mat-form-field>
        <input
          matInput
          placeholder="Nome"
          [value]="product.name"
          disabled
          name="name"
        />
      </mat-form-field>
  
      <mat-form-field>
        <input
          matInput
          placeholder="Preço (R$)"
          [value]="product.price"
          disabled
          name="price"
        />
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteProduct()" color="warn">
      Excluir produto
    </button>
  
    <button mat-raised-button (click)="cancel()">
      Cancelar produto
    </button>
  </mat-card>
  